#about {
	.about-inner {
		display: flex;
		justify-content: space-between;
		@include vw(padding, 40px 16px);
		@media (max-width: 800px) {
			flex-direction: column;
		}
	}
	.about-title {
		position: sticky;
		@include vw(top, 70px);
		left: 0;
		z-index: 1;
		width: 100%;
		height: auto;
		@include vw(padding-top, 40px);
		line-height: 1;
		font-family: var(--mainKor-font);
		@include vw(font-size, 60px);
		font-weight: 900;
		text-transform: uppercase;
		color: #000;
		@include vw(border-bottom-width, 4px);
		border-bottom-style: solid;
		border-bottom-color: #000;
		background-color: var(--mainBg-color);
		@include rwdWidth(720px) {
			font-size: 40px;
		}
		@include rwdWidth(1024px) {
			width: 43%;
			height: 90px;
			font-size: 70px;
		}
		em {
			line-height: 2;
			@include vw(font-size, 30px);
			font-weight: 400;
		}
	}
	.about-desc {
		width: 100%;
		@include vw(margin-top, 40px);
		@include rwdWidth(1024px) {
			width: 55%;
		}
		& > div {
			@include vw(margin-bottom, 50px);
			@include rwdWidth(1024px) {
				margin-bottom: 50px;
			}
			&:first-child {
				@include rwdWidth(1024px) {
					margin-top: 24px;
				}
				@include rwdWidth(1100px) {
					margin-top: 50px;
				}
			}
		}
		.about-item {
			@include vw(margin-top, 50px);
			&:first-child {
				margin-top: 0;
			}
		}
		.about-view {
			position: relative;
			@include vw(padding, 20px);
			background-color: rgba($color: #006d77, $alpha: 0.1);
			h3 {
				display: inline-block;
				font-family: var(--mainKor-font);
				@include vw(font-size, 30px);
				font-weight: 900;
				@include rwdWidth(720px) {
					font-size: 22px;
				}
			}
			p {
				line-height: 1;
				font-family: var(--mainNum-font);
				@include vw(font-size, 24px);
				font-weight: 400;
				@include rwdWidth(720px) {
					font-size: 18px;
				}
				@include rwdWidth(1100px) {
					display: inline-block;
					margin-left: 10px;
				}
				span {
					@include vw(margin, 0 5px);
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		.about-list {
			@include vw(margin-top, 10px);
			li {
				position: relative;
				@include vw(margin-top, 5px);
				@include vw(padding-left, 10px);
				font-family: var(--mainKor-font);
				@include vw(font-size, 20px);
				font-weight: 400;
				@include rwdWidth(720px) {
					font-size: 14px;
				}
				&:first-child {
					margin-top: 0;
				}
				&::before {
					content: '';
					position: absolute;
					@include vw(top, 10px);
					left: 0;
					@include vw(width, 4px);
					@include vw(height, 4px);
					border-radius: 50%;
					background-color: #000;
				}
			}
		}
	}
}
