#career {
	.career-wrap {
		padding: 0 24px;
	}
	.career-item {
		position: relative;
		@include breakpoint(minDesktop) {
			padding: 20px 20px 20px 160px;
			@include transition(all, .15s, $how: cubic-bezier(.4,0,.2,1));
			&:hover {
				border-radius: 6px;
				background-color: rgba(30,41,59,.5);
				@include boxShadow(inset 0 1px 0 0 rgba(148,163,184,.1));
				.title-sub {
					color: #5eead4;
					.link {
						color: currentColor;
						&::before {
							top: -4px;
							right: -4px;
							background-image: icon(arrow, '5eead4');
						}
					}
				}
			}
		}
		@include breakpoint(desktop) {
			padding-left: 180px;
		}
		& + .career-item {
			margin-top: 40px;
		}
		.period {
			display: block;
			font-size: 12px;
			font-weight: 500;
			color: rgba($color: #64748b, $alpha: 0.8);
			@include breakpoint(minDesktop) {
				position: absolute;
				top: 20px;
				left: 0;
				font-size: 16px;
			}
			@include breakpoint(desktop) {
				left: 20px;
			}
		}
		.title-sub {
			margin-top: 10px;
			font-size: 16px;
			@include breakpoint(minDesktop) {
				margin-top: 0;
			}
		}
		.link {
			position: relative;
			display: inline-block;
			padding-right: 20px;
			line-height: 1;
			font-size: 16px;
			color: #fff;
			@include transition(all, .15s, $how: cubic-bezier(.4,0,.2,1));
			&::before {
				content: '';
				position: absolute;
				top: -2px;
				right: -2px;
				width: 20px;
				height: 20px;
				background-image: icon(arrow, 'e2e8f0');
				@include transition(all, .15s, $how: cubic-bezier(.4,0,.2,1));
				@include breakpoint(minDesktop) {
					top: 0;
					right: 0;
				}
			}
		}
		.info {
			font-size: 14px;
			font-weight: 500;
			color: rgba($color: #64748b, $alpha: 0.8);
		}

		// link none
		.disabled {
			.link {
				padding-right: 0;
				&::before {
					display: none;
				}
			}
		}
	}
	.career-action {
		padding: 40px 24px;
		@include breakpoint(desktop) {
			padding-right: 40px;
			padding-left: 40px;
		}
		.link {
			position: relative;
			display: inline-block;
			padding-right: 20px;
			line-height: 1;
			font-size: 16px;
			color: #fff;
			@include transition(all, .15s, $how: cubic-bezier(.4,0,.2,1));
			@include breakpoint(minDesktop) {
				&:hover {
					color: #5eead4;
					&::before {
						top: -4px;
						right: -4px;
						background-image: icon(arrow, '5eead4');
					}
				}
			}
			&::before {
				content: '';
				position: absolute;
				top: -2px;
				right: -2px;
				width: 20px;
				height: 20px;
				background-image: icon(arrow, 'e2e8f0');
				@include transition(all, .15s, $how: cubic-bezier(.4,0,.2,1));
				@include breakpoint(minDesktop) {
					top: 0;
					right: 0;
				}
			}
		}
	}
}
