#career {
	.career-wrap {
		@include vw(padding, 0 40px);
		// padding: 0 20px;
		// @include breakpoint(maxMobile) {
		// 	padding: 0 40px;
		// }
	}
	.career-item {
		& + .career-item {
			@include vw(margin-top, 40px);
			// margin-top: 20px;
			// @include breakpoint(maxMobile) {
			// 	margin-top: 40px;
			// }
		}
		.period {
			display: block;
			// font-family: var(--mainNum-font);
			@include vw(font-size, 30px);
			font-weight: 500;
			color: rgba($color: #64748b, $alpha: 0.8);
			// color: rgba($color: #fff, $alpha: 0.5);
			// @include breakpoint(maxMobile) {
			// 	font-size: 20px;
			// }
			@media (min-width: 1200px) {
				font-size: 16px;
			}
		}
		.title-sub {
			@include vw(margin-top, 10px);
			@include vw(font-size, 30px);
			// @include breakpoint(maxMobile) {
			// 	font-size: 30px;
			// }
			@media (min-width: 1200px) {
				font-size: 18px;
			}
		}
		.link {
			position: relative;
			display: inline-block;
			line-height: 1;
		}
		.info {
			@include vw(font-size, 28px);
			font-weight: 500;
			color: rgba($color: #64748b, $alpha: 0.8);
			@media (min-width: 1200px) {
				font-size: 16px;
			}
		}
	}
	.skill-list {
		display: flex;
		align-items: center;
		justify-items: center;
		flex-wrap: wrap;
		@include vw(margin, 20px 0 0);
		li {
			display: inline-block;
			@include vw(margin, 5px);
			@include vw(padding, 10px 20px);
			line-height: 1;
			@include vw(font-size, 24px);
			color: #5eead4;
			border-radius: 20px;
			background-color: rgba($color: #2dd4bf, $alpha: 0.1);
			@media (min-width: 1200px) {
				padding: 5px 10px;
				font-size: 16px;
			}
		}
	}
}
