#contact {
	height: 50vh;
	.contact-inner {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		width: 100%;
		height: 100%;
		@include vw(padding, 16px);
		@include boxSizing(border-box);
		@media (max-width: 800px) {
			justify-content: center;
		}
	}
	.contact-title {
		line-height: 1;
		font-family: var(--mainKor-font);
		@include vw(font-size, 80px);
		font-weight: 900;
		text-transform: uppercase;
		color: #000;
		em {
			line-height: 2;
			@include vw(font-size, 30px);
			font-weight: 400;
			@media (max-width: 800px) {
				display: block;
			}
		}
	}
	.contact-text {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		@include vw(height, 200px);
		color: #fff;
		background-color: rgba($color: #006d77, $alpha: 0.7);
		.text {
			text-align: center;	
			div {
				display: inline-block;
				@include vw(padding, 0 16px);
				line-height: 1;
				@include vw(font-size, 50px);
				font-weight: 900;
				text-decoration: underline;
				text-transform: uppercase;
				cursor: all-scroll;
				@include transition(all, 0.3s);
			}
		}
	}
}
