#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include vw(padding, 16px);
		background-color: rgba(0,0,0,0.1);
		backdrop-filter: blur(15px);
	}
	.header-logo {
		line-height: 1;
		text-align: center;
		@include vw(font-size, 20px);
		font-weight: 400;
		text-transform: uppercase;
		em {
			display: block;
			@include vw(font-size, 24px);
			color: #000;
		}
	}
	.header-nav {
		@media (max-width: 800px) {
			display: none;
		}
		&.show {
			display: block;
			& + .header-nav-mobile {
				span::before,
				span::after {
					@include vw(width, 20px);
				}
			}
			ul {
				position: absolute;
				top: 100%;
				right: 0;
				z-index: 110;
				display: block;
				@include vw(min-width, 100px);
				@include vw(padding, 20px 0);
				background-color: rgba(0,0,0,0.1);
				backdrop-filter: blur(15px);
				li {
					display: block;
					text-align: right;
					a {
						display: block;
						@include vw(padding, 10px);
					}
				}
			}
		}
		li {
			display: inline-block;
			a {
				position: relative;
				@include vw(padding, 15px);
				@include vw(font-size, 16px);
				text-transform: uppercase;
				&::before {
					content: '';
					position: absolute;
					@include vw(left, 15px);
					@include vw(bottom, 15px);
					width: calc(100% - 28px);
					height: 1px;
					background-color: #000;
					@include scaleX(0);
					@include transition(all, 0.3s);
				}
				&:hover::before {
					@include scaleX(1);
				}
			}
		}
	}
	.header-nav-mobile {
		display: none;
		@include vw(width, 40px);
		@include vw(height, 40px);
		cursor: pointer;
		@media (max-width: 800px) {
			display: block;
		}
		span {
			position: relative;
			display: block;
			@include vw(width, 40px);
			@include vw(height, 2px);
			@include vw(margin-top, 20px);
			background-color: #000;
			&::before,
			&::after {
				content: '';
				position: absolute;
				@include vw(width, 40px);
				@include vw(height, 2px);
				background-color: #000;
				@include transition(width, 0.3s);
			}
			&::before {
				@include vw(top, 6px);
				right: 0;
			}
			&::after {
				@include vw(bottom, 6px);
				left: 0;
			}
		}
	}
}
