#header {
	.header-inner {
		@include vw(padding, 40px);
		text-align: left;
	}
	.title-main {
		@include vw(margin, 10px 0 0);
		@include vw(font-size, 80px);
		// color: rgba($color: #fff, $alpha: 0.6);
	}
	.title-sub {
		@include vw(margin, 5px 0 0);
		@include vw(font-size, 60px);
		// color: rgba($color: #fff, $alpha: 0.6);
	}
	.text {
		@include vw(margin, 20px 0 0);
		@include vw(font-size, 30px);
		// color: rgba($color: #fff, $alpha: 0.5);
	}
	.header-nav {
		display: none;
		@media (min-width: 1024px) {
			display: block;
		}
		ul {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 110;
			display: block;
			@include vw(min-width, 100px);
			@include vw(padding, 20px 0);
			backdrop-filter: blur(15px);
			li {
				display: block;
				text-align: right;
				a {
					display: block;
					@include vw(padding, 10px);
				}
			}
		}
		li {
			display: inline-block;
			a {
				position: relative;
				@include vw(padding, 15px);
				@include vw(font-size, 16px);
				text-transform: uppercase;
				&::before {
					content: '';
					position: absolute;
					@include vw(left, 15px);
					@include vw(bottom, 15px);
					width: calc(100% - 28px);
					height: 1px;
					background-color: #000;
					@include scaleX(0);
					@include transition(all, 0.3s);
				}
				&:hover::before {
					@include scaleX(1);
				}
			}
		}
	}
}
