#skip a {
	position: absolute;
	left: 10px;
	top: -92px;
	z-index: 10000;
	font-size: 1rem;
	padding: 10px 30px;
	color: var(--white);
	background: var(--black);
	&:focus,
	&:active {
		top: 10px;
	}
}

#root {
	position: relative;
	@extend %clearfix;
	@include breakpoint(desktop) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1200px;
		margin: 0 auto;
	}
	section {
		position: relative;
		padding-top: 40px;
		@include breakpoint(desktop) {
			padding-top: 80px;
		}
		.title-main {
			position: sticky;
			top: 0;
			z-index: 1;
			padding: 15px 24px;
			font-family: var(--mainEng-font);
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			color: rgba($color: #e2e8f0, $alpha: 1.0);
			background-color: rgba($color: #0f172a, $alpha: 0.75);
			backdrop-filter: blur(8px);
			@include breakpoint(desktop) {
				display: none;
			}
		}
		.title-sub {
			font-size: 20px;
			font-weight: 500;
			color: rgba($color: #e2e8f0, $alpha: 1.0);
		}
		.stack-list {
			display: flex;
			align-items: center;
			justify-items: center;
			flex-wrap: wrap;
			margin-top: 20px;
			gap: 5px;
			li {
				display: inline-block;
				padding: 4px 12px;
				line-height: 1;
				font-size: 12px;
				color: #5eead4;
				border-radius: 28px;
				background-color: rgba($color: #2dd4bf, $alpha: 0.1);
			}
		}
	}
}

#main {
	@include breakpoint(desktop) {
		width: 60%;
	}
}

#header {
	position: relative;
	@include breakpoint(desktop) {
		position: sticky;
		top: 0;
		bottom: 0;
		left: 0;
		width: 40%;
		height: 100vh;
	}
	.inner {
		padding: 0 24px;
		@include breakpoint(desktop) {
			padding: 0 48px;
		}
	}
	.title-main {
		margin-top: 50px;
		line-height: 1;
		font-family: var(--mainEng-font);
		font-size: 40px;
		color: rgba($color: #e2e8f0, $alpha: 1.0);
		@include breakpoint(desktop) {
			margin-top: 80px;
		}
	}
	.title-sub {
		margin-top: 10px;
		line-height: 1;
		font-family: var(--mainEng-font);
		font-size: 28px;
		color: rgba($color: #e2e8f0, $alpha: 1.0);
		p {
			&.fade-in {
				opacity: 1;
				@include transition(opacity, 0.5s, $how: ease-in);
			}
			
			&.fade-out {
				opacity: 0;
				@include transition(opacity, 0.5s, $how: ease-out);
			}
		}
	}
	.text {
		margin-top: 20px;
		font-size: 16px;
		color: rgba($color: #94a3b8, $alpha: 1.0);
	}
	.header-nav {
		display: none;
		@include breakpoint(desktop) {
			display: block;
		}
		ul {
			position: absolute;
			top: 400px;
			left: 48px;
			z-index: 10;
			display: block;
		}
		li {
			text-align: left;
			& + li {
				margin-top: 20px;
			}
			a {
				position: relative;
				display: block;
				padding-left: 42px;
				font-size: 14px;
				color: rgba($color: #94a3b8, $alpha: 0.8);
				text-transform: uppercase;
				@include transition(all, 0.15s, $how: cubic-bezier(.4,0,.2,1));
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 32px;
					height: 1px;
					background-color: currentColor;
					@include transition(all, 0.15s, $how: cubic-bezier(.4,0,.2,1));
				}
				&.active,
				&:hover {
					padding-left: 74px;
					font-weight: 700;
					color: rgba($color: #e2e8f0, $alpha: 1.0);
					&::before {
						width: 64px;
					}
				}
			}
		}
	}
}

#footer {
	.footer-inner {
		padding: 100px 0 50px;
		@include breakpoint(desktop) {
			padding-left: 40px;
		}
	}
	.copy {
		text-align: center;
		font-size: 14px;
		color: rgba($color: #94a3b8, $alpha: 0.9);
		text-transform: uppercase;
		@include breakpoint(desktop) {
			text-align: left;
		}
		span {
			display: block;
			@include breakpoint(minDesktop) {
				display: inline;
			}
		}
	}
}
