#port {
	.port-wrap {
		@include vw(padding, 0 40px);
	}
	.port-item {
		position: relative;
		color: rgba($color: #64748b, $alpha: 0.8);
		& + .port-item {
			@include vw(margin-top, 40px);
		}
		@media (min-width: 1200px) {
			padding-left: 180px;
			&:hover {
				.thumb {
					img {
						@include scaleXY(1.05, 1.05);
					}
				}
			}
		}
		.thumb {
			position: relative;
			display: block;
			@include vw(height, 300px);
			overflow: hidden;
			@include vw(border-radius, 10px);
			@include transition(all, 0.3s);
			@media (min-width: 1200px) {
				position: absolute;
				top: 0;
				left: 0;
				width: 150px;
				height: 100px;
			}
			&:before {
				content: '';
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 50%;
				@include vw(border-radius, 10px);
				@include linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
			}
			img {
				width: 100%;
				@include transition(all, 0.3s);
			}
		}
		.title-sub {
			@include vw(margin-top, 20px);
			// text-align: center;
			@include vw(font-size, 30px);
			// font-weight: 700;
			// @include vw(border-bottom-width, 2px);
			// border-bottom-style: solid;
			// border-bottom-color: currentColor;
			@media (min-width: 1200px) {
				font-size: 18px;
			}
		}
		.text-list {
			li {
				position: relative;
				@include vw(padding-left, 14px);
				@include vw(font-size, 24px);
				font-weight: 500;
				color: rgba($color: #64748b, $alpha: 0.9);
				&::before {
					content: '·';
					position: absolute;
					top: 0;
					left: 0;
					color: currentColor;
				}
				&:first-child {
					@include vw(margin-top, 20px);
				}
				@media (min-width: 1200px) {
					font-size: 16px;
				}
			}
		}
	}

	.skill-list {
		display: flex;
		align-items: center;
		justify-items: center;
		flex-wrap: wrap;
		@include vw(margin, 20px 0 0);
		li {
			display: inline-block;
			@include vw(margin, 5px);
			@include vw(padding, 10px 20px);
			line-height: 1;
			@include vw(font-size, 24px);
			color: #5eead4;
			border-radius: 20px;
			background-color: rgba($color: #2dd4bf, $alpha: 0.1);
			@media (min-width: 1200px) {
				padding: 5px 10px;
				font-size: 14px;
			}
		}
	}
}
