#port {
	.port-item {
		position: relative;
		@include vw(padding, 20px);
		color: #000;
		&:hover {
			color: #fff;
			.img {
				margin-top: 0;
				img {
					filter: saturate(100%);
				}
			}
			.site {
				background-color: #000;
			}
		}
		.num {
			font-family: var(--mainNum-font);
			@include vw(font-size, 20px);
		}
		.img {
			display: block;
			// @include vw(margin-top, -20px);
			@include vw(margin-bottom, 20px);
			@include transition(all, 0.3s);
			img {
				width: 100%;
				@include vw(border-radius, 5px);
				filter: saturate(0%);
				@include transition(all, 0.3s);
			}
		}
		.title {
			@include vw(margin-bottom, 20px);
			@include vw(padding-bottom, 10px);
			text-align: center;
			@include vw(font-size, 20px);
			font-weight: 700;
			@include vw(border-bottom-width, 2px);
			border-bottom-style: solid;
			border-bottom-color: currentColor;
		}
		.desc {
			@include vw(font-size, 18px);
		}
		.site {
			position: absolute;
			@include vw(right, 20px);
			@include vw(bottom, 20px);
			@include vw(left, 20px);
			display: block;
			@include vw(margin-top, 30px);
			@include vw(padding, 10px 20px);
			text-align: center;
			@include vw(border-width, 2px);
			border-style: solid;
			border-color: #000;
		}
	}
}
