#port {
	width: 100%;
	@include vw(margin-top, 100px);
	.port-inner {
		@include vw(padding, 16px);
	}
	.port-title {
		width: 100%;
		@include vw(margin-bottom, 40px);
		line-height: 1;
		font-family: var(--mainKor-font);
		@include vw(font-size, 60px);
		font-weight: 900;
		text-transform: uppercase;
		color: #000;
		@include vw(border-bottom-width, 4px);
		border-bottom-style: solid;
		border-bottom-color: #000;
		@include rwdWidth(720px) {
			font-size: 40px;
		}
		@include rwdWidth(1024px) {
			height: 90px;
			font-size: 70px;
		}
		em {
			line-height: 2;
			@include vw(font-size, 30px);
			font-weight: 400;
		}
	}
	.port-wrap {
		display: flex;
		flex-wrap: wrap;
		width: 7000px;
	}
	.port-item {
		position: relative;
		@include vw(width, 400px);
		@include vw(height, 550px);
		@include vw(margin-right, 20px);
		@include vw(padding, 20px);
		color: #000;
		background-color: rgba($color: #006d77, $alpha: 0.7);
		&:hover {
			color: #fff;
			.img {
				margin-top: 0;
				img {
					filter: saturate(100%);
				}
			}
			.site {
				background-color: #000;
			}
		}
		.num {
			font-family: var(--mainNum-font);
			@include vw(font-size, 20px);
		}
		.img {
			display: block;
			// @include vw(margin-top, -20px);
			@include vw(margin-bottom, 20px);
			@include transition(all, 0.3s);
			img {
				width: 100%;
				@include vw(border-radius, 5px);
				filter: saturate(0%);
				@include transition(all, 0.3s);
			}
		}
		.title {
			@include vw(margin-bottom, 20px);
			@include vw(padding-bottom, 10px);
			text-align: center;
			@include vw(font-size, 20px);
			font-weight: 700;
			@include vw(border-bottom-width, 2px);
			border-bottom-style: solid;
			border-bottom-color: currentColor;
		}
		.desc {
			@include vw(font-size, 18px);
		}
		.site {
			position: absolute;
			@include vw(right, 20px);
			@include vw(bottom, 20px);
			@include vw(left, 20px);
			display: block;
			@include vw(margin-top, 30px);
			@include vw(padding, 10px 20px);
			text-align: center;
			@include vw(border-width, 2px);
			border-style: solid;
			border-color: #000;
		}
	}
}
