@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
.noto {
  font-family: "Noto Sans KR", sans-serif;
}

.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";
  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  line-height: 1.5;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 800px) {
  :root {
    line-height: 1.4;
    font-size: 14px;
  }
}

body {
  background-color: var(--mainBg-color);
}

html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, option, img, div {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1100px) {
  img {
    width: auto;
  }
}

input, select {
  vertical-align: middle;
}

select,
input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=submit],
input[type=rest],
input[type=button],
textarea {
  border-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
}

em, address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  table-layout: fixed;
}

legend, caption {
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

h1, h2, h3, h4, h5, h6, strong, em {
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
#header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2222222222vw;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (min-width: 720px) {
  #header .header-inner {
    padding: 16px;
  }
}
#header .header-logo {
  line-height: 1;
  text-align: center;
  font-size: 3.3333333333vw;
  text-transform: uppercase;
}
@media screen and (min-width: 720px) {
  #header .header-logo {
    font-size: 24px;
  }
}
#header .header-logo em {
  display: block;
  font-size: 2.7777777778vw;
  color: #000;
}
@media screen and (min-width: 720px) {
  #header .header-logo em {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  #header .header-nav {
    display: none;
  }
}
#header .header-nav.show {
  display: block;
}
#header .header-nav.show + .header-nav-mobile span::before,
#header .header-nav.show + .header-nav-mobile span::after {
  width: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  #header .header-nav.show + .header-nav-mobile span::before,
#header .header-nav.show + .header-nav-mobile span::after {
    width: 20px;
  }
}
#header .header-nav.show ul {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 110;
  display: block;
  min-width: 13.8888888889vw;
  padding: 2.7777777778vw 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (min-width: 720px) {
  #header .header-nav.show ul {
    min-width: 100px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav.show ul {
    padding: 20px 0;
  }
}
#header .header-nav.show ul li {
  display: block;
  text-align: right;
}
#header .header-nav.show ul li a {
  display: block;
  padding: 1.3888888889vw;
}
@media screen and (min-width: 720px) {
  #header .header-nav.show ul li a {
    padding: 10px;
  }
}
#header .header-nav li {
  display: inline-block;
}
#header .header-nav li a {
  position: relative;
  padding: 2.0833333333vw;
  font-size: 2.2222222222vw;
  text-transform: uppercase;
}
@media screen and (min-width: 720px) {
  #header .header-nav li a {
    padding: 15px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav li a {
    font-size: 16px;
  }
}
#header .header-nav li a::before {
  content: "";
  position: absolute;
  left: 2.0833333333vw;
  bottom: 2.0833333333vw;
  width: calc(100% - 28px);
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #header .header-nav li a::before {
    left: 15px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav li a::before {
    bottom: 15px;
  }
}
#header .header-nav li a:hover::before {
  transform: scaleX(1);
}
#header .header-nav-mobile {
  display: none;
  width: 5.5555555556vw;
  height: 5.5555555556vw;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile {
    height: 40px;
  }
}
@media (max-width: 800px) {
  #header .header-nav-mobile {
    display: block;
  }
}
#header .header-nav-mobile span {
  position: relative;
  display: block;
  width: 5.5555555556vw;
  height: 0.2777777778vw;
  margin-top: 2.7777777778vw;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span {
    height: 2px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span {
    margin-top: 20px;
  }
}
#header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
  content: "";
  position: absolute;
  width: 5.5555555556vw;
  height: 0.2777777778vw;
  background-color: #000;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: width;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
    height: 2px;
  }
}
#header .header-nav-mobile span::before {
  top: 0.8333333333vw;
  right: 0;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::before {
    top: 6px;
  }
}
#header .header-nav-mobile span::after {
  bottom: 0.8333333333vw;
  left: 0;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::after {
    bottom: 6px;
  }
}

#intro {
  height: 100vh;
}
#intro .intro-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2.2222222222vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  #intro .intro-inner {
    padding: 16px;
  }
}
@media (max-width: 800px) {
  #intro .intro-inner {
    justify-content: center;
  }
}
#intro .intro-title {
  height: 12.5vw;
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 13.8888888889vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}
@media screen and (min-width: 720px) {
  #intro .intro-title {
    height: 90px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-title {
    font-size: 100px;
  }
}
@media (max-width: 320px) {
  #intro .intro-title {
    display: none;
  }
}
@media (max-width: 800px) {
  #intro .intro-title {
    width: 100%;
    height: auto;
    margin-bottom: 5.5555555556vw;
    background-color: var(--mainBg-color);
  }
}
@media screen and (max-width: 800px) and (min-width: 720px) {
  #intro .intro-title {
    margin-bottom: 40px;
  }
}
#intro .intro-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 55.5555555556vw;
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  #intro .intro-text {
    height: 400px;
  }
}
#intro .intro-text:hover .text {
  opacity: 0;
}
#intro .intro-text:hover .img {
  filter: grayscale(0);
}
#intro .intro-text .text {
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1;
  font-size: 6.9444444444vw;
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: all-scroll;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #intro .intro-text .text {
    font-size: 50px;
  }
}
#intro .intro-text .img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vw;
  overflow: hidden;
  border-radius: 50%;
  filter: grayscale(100%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 720px) {
  #intro .intro-text .img {
    width: 360px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-text .img {
    height: 360px;
  }
}

#career .career-inner {
  display: flex;
  justify-content: space-between;
  padding: 2.2222222222vw;
}
@media screen and (min-width: 720px) {
  #career .career-inner {
    padding: 16px;
  }
}
@media (max-width: 800px) {
  #career .career-inner {
    flex-direction: column;
  }
}
#career .career-title {
  position: -webkit-sticky;
  position: sticky;
  top: 13.8888888889vw;
  left: 0;
  width: 48%;
  height: 12.5vw;
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 13.8888888889vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  border-bottom-width: 0.5555555556vw;
  border-bottom-style: solid;
  border-bottom-color: #000;
}
@media screen and (min-width: 720px) {
  #career .career-title {
    top: 100px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-title {
    height: 90px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-title {
    font-size: 100px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-title {
    border-bottom-width: 4px;
  }
}
@media (max-width: 800px) {
  #career .career-title {
    width: 100%;
    height: auto;
    margin-bottom: 5.5555555556vw;
    background-color: var(--mainBg-color);
  }
}
@media screen and (max-width: 800px) and (min-width: 720px) {
  #career .career-title {
    margin-bottom: 40px;
  }
}
#career .career-title em {
  line-height: 2;
  font-size: 5.5555555556vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #career .career-title em {
    font-size: 40px;
  }
}
#career .career-desc {
  width: 50%;
}
@media (max-width: 800px) {
  #career .career-desc {
    width: 100%;
  }
}
#career .career-desc > div {
  margin-bottom: 13.8888888889vw;
}
@media screen and (min-width: 720px) {
  #career .career-desc > div {
    margin-bottom: 100px;
  }
}
#career .career-desc .career-view {
  position: relative;
  position: relative;
  display: inline-block;
  padding-right: 1.3888888889vw;
  font-family: var(--mainKor-font);
  font-size: 4.1666666667vw;
  font-weight: 900;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-view {
    padding-right: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-view {
    font-size: 30px;
  }
}
#career .career-desc .career-view:nth-last-child(2)::before {
  content: "fold";
}
#career .career-desc .career-view::before {
  content: "unfold";
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  color: #fff;
  line-height: 1;
  padding: 0.6944444444vw;
  font-size: 2.2222222222vw;
  font-weight: 500;
  background-color: var(--black);
  transform: translateY(-50%);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-view::before {
    padding: 5px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-view::before {
    font-size: 16px;
  }
}
#career .career-desc .career-view span {
  margin-left: 1.3888888889vw;
  line-height: 1;
  font-family: var(--mainNum-font);
  font-size: 2.7777777778vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-view span {
    margin-left: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-view span {
    font-size: 20px;
  }
}
#career .career-desc .career-list li {
  position: relative;
  margin-top: 2.0833333333vw;
  padding-left: 1.3888888889vw;
  font-family: var(--mainKor-font);
  font-size: 2.5vw;
  font-weight: 400;
  color: var(--black100);
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-list li {
    margin-top: 15px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-list li {
    padding-left: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-list li {
    font-size: 18px;
  }
}
#career .career-desc .career-list li::before {
  content: "";
  position: absolute;
  top: 1.3888888889vw;
  left: 0;
  width: 0.5555555556vw;
  height: 0.5555555556vw;
  border-radius: 50%;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-list li::before {
    top: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-list li::before {
    width: 4px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-desc .career-list li::before {
    height: 4px;
  }
}

#port {
  width: 100%;
  margin-top: 13.8888888889vw;
}
@media screen and (min-width: 720px) {
  #port {
    margin-top: 100px;
  }
}
#port .port-inner {
  padding: 2.2222222222vw;
}
@media screen and (min-width: 720px) {
  #port .port-inner {
    padding: 16px;
  }
}
#port .port-title {
  width: 100%;
  height: 12.5vw;
  margin-bottom: 5.5555555556vw;
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 13.8888888889vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  border-bottom-width: 0.5555555556vw;
  border-bottom-style: solid;
  border-bottom-color: #000;
}
@media screen and (min-width: 720px) {
  #port .port-title {
    height: 90px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-title {
    font-size: 100px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-title {
    border-bottom-width: 4px;
  }
}
@media (max-width: 800px) {
  #port .port-title {
    width: 100%;
    height: auto;
    background-color: var(--mainBg-color);
  }
}
#port .port-title em {
  line-height: 2;
  font-size: 5.5555555556vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #port .port-title em {
    font-size: 40px;
  }
}
#port .port-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 7000px;
}
#port .port-item {
  width: 69.4444444444vw;
  height: 69.4444444444vw;
  margin-right: 2.7777777778vw;
  padding: 2.7777777778vw;
  background-color: var(--subBg100);
}
@media screen and (min-width: 720px) {
  #port .port-item {
    width: 500px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item {
    height: 500px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item {
    margin-right: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item {
    padding: 20px;
  }
}
#port .port-item.p1 {
  background-color: var(--subBg100);
}
#port .port-item.p2 {
  background-color: var(--subBg200);
}
#port .port-item.p3 {
  background-color: var(--subBg300);
}
#port .port-item.p4 {
  background-color: var(--subBg400);
}
#port .port-item.p5 {
  background-color: var(--subBg500);
}
#port .port-item.p6 {
  background-color: var(--subBg500);
}
#port .port-item .num {
  font-family: var(--mainNum-font);
  font-size: 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  #port .port-item .num {
    font-size: 30px;
  }
}
#port .port-item .img {
  display: block;
  margin-top: -2.7777777778vw;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #port .port-item .img {
    margin-top: -20px;
  }
}
#port .port-item .img img {
  border-radius: 6.9444444444vw;
}
@media screen and (min-width: 720px) {
  #port .port-item .img img {
    border-radius: 50px;
  }
}/*# sourceMappingURL=style.css.map */