@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
.noto {
  font-family: "Noto Sans KR", sans-serif;
}

.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";
  --mainBg-color: #83c5be;
  --subBg100: #006d77;
  --subBg200: #0a9396;
  --subBg300: #94d2bd;
  --subBg400: #006d77;
  --subBg500: #0a9396;
  --subBg600: #94d2bd;
  --white: #fff;
  --black: #000;
  --black100: #111;
  --black200: #222;
  --black300: #333;
  --black400: #444;
  line-height: 1.5;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--mainBg-color);
}

html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, option, img, div {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1100px) {
  img {
    width: auto;
  }
}

input, select {
  vertical-align: middle;
}

select,
input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=submit],
input[type=rest],
input[type=button],
textarea {
  border-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
}

em, address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  table-layout: fixed;
}

legend, caption {
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

h1, h2, h3, h4, h5, h6, strong, em {
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
#header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2222222222vw;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (min-width: 720px) {
  #header .header-inner {
    padding: 16px;
  }
}
#header .header-logo {
  line-height: 1;
  text-align: center;
  font-size: 2.7777777778vw;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (min-width: 720px) {
  #header .header-logo {
    font-size: 20px;
  }
}
#header .header-logo em {
  display: block;
  font-size: 3.3333333333vw;
  color: #000;
}
@media screen and (min-width: 720px) {
  #header .header-logo em {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  #header .header-nav {
    display: none;
  }
}
#header .header-nav.show {
  display: block;
}
#header .header-nav.show + .header-nav-mobile span::before,
#header .header-nav.show + .header-nav-mobile span::after {
  width: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  #header .header-nav.show + .header-nav-mobile span::before,
#header .header-nav.show + .header-nav-mobile span::after {
    width: 20px;
  }
}
#header .header-nav.show ul {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 110;
  display: block;
  min-width: 13.8888888889vw;
  padding: 2.7777777778vw 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (min-width: 720px) {
  #header .header-nav.show ul {
    min-width: 100px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav.show ul {
    padding: 20px 0;
  }
}
#header .header-nav.show ul li {
  display: block;
  text-align: right;
}
#header .header-nav.show ul li a {
  display: block;
  padding: 1.3888888889vw;
}
@media screen and (min-width: 720px) {
  #header .header-nav.show ul li a {
    padding: 10px;
  }
}
#header .header-nav li {
  display: inline-block;
}
#header .header-nav li a {
  position: relative;
  padding: 2.0833333333vw;
  font-size: 2.2222222222vw;
  text-transform: uppercase;
}
@media screen and (min-width: 720px) {
  #header .header-nav li a {
    padding: 15px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav li a {
    font-size: 16px;
  }
}
#header .header-nav li a::before {
  content: "";
  position: absolute;
  left: 2.0833333333vw;
  bottom: 2.0833333333vw;
  width: calc(100% - 28px);
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #header .header-nav li a::before {
    left: 15px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav li a::before {
    bottom: 15px;
  }
}
#header .header-nav li a:hover::before {
  transform: scaleX(1);
}
#header .header-nav-mobile {
  display: none;
  width: 5.5555555556vw;
  height: 5.5555555556vw;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile {
    height: 40px;
  }
}
@media (max-width: 800px) {
  #header .header-nav-mobile {
    display: block;
  }
}
#header .header-nav-mobile span {
  position: relative;
  display: block;
  width: 5.5555555556vw;
  height: 0.2777777778vw;
  margin-top: 2.7777777778vw;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span {
    height: 2px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span {
    margin-top: 20px;
  }
}
#header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
  content: "";
  position: absolute;
  width: 5.5555555556vw;
  height: 0.2777777778vw;
  background-color: #000;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: width;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
    height: 2px;
  }
}
#header .header-nav-mobile span::before {
  top: 0.8333333333vw;
  right: 0;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::before {
    top: 6px;
  }
}
#header .header-nav-mobile span::after {
  bottom: 0.8333333333vw;
  left: 0;
}
@media screen and (min-width: 720px) {
  #header .header-nav-mobile span::after {
    bottom: 6px;
  }
}

#intro {
  height: 100vh;
}
#intro .intro-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#intro .intro-title {
  margin: 11.1111111111vw 0 2.7777777778vw 5.5555555556vw;
  line-height: 1.2;
  font-family: var(--mainKor-font);
  font-size: 8.3333333333vw;
  font-weight: 900;
  text-transform: capitalize;
  color: #000;
}
@media screen and (min-width: 720px) {
  #intro .intro-title {
    margin: 80px 0 20px 40px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-title {
    font-size: 60px;
  }
}
@media (min-width: 640px) {
  #intro .intro-title {
    font-size: 50px;
  }
}
@media (max-height: 480px) {
  #intro .intro-title {
    padding-bottom: 5.5555555556vw;
  }
}
@media screen and (max-height: 480px) and (min-width: 720px) {
  #intro .intro-title {
    padding-bottom: 40px;
  }
}
@media (min-width: 1100px) {
  #intro .intro-title {
    font-size: 70px;
  }
}
#intro .intro-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vw;
  color: #000;
  background-color: #006d77;
}
@media (min-width: 640px) {
  #intro .intro-text {
    height: 400px;
  }
}
@media (max-height: 480px) {
  #intro .intro-text {
    display: none;
  }
}
@media (min-width: 1100px) {
  #intro .intro-text {
    height: 500px;
    flex-direction: row;
    justify-content: space-around;
  }
}
#intro .intro-text .text {
  padding: 6.9444444444vw 5.5555555556vw;
  font-size: 3.6111111111vw;
  text-align: left;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  #intro .intro-text .text {
    padding: 50px 40px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-text .text {
    font-size: 26px;
  }
}
@media (min-width: 640px) {
  #intro .intro-text .text {
    line-height: 1.5;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  #intro .intro-text .text {
    position: static;
    padding: 40px;
    font-size: 20px;
    background: none;
  }
}
#intro .intro-text .text p:nth-child(3) {
  margin-top: 6.9444444444vw;
}
@media screen and (min-width: 720px) {
  #intro .intro-text .text p:nth-child(3) {
    margin-top: 50px;
  }
}
@media (min-width: 640px) {
  #intro .intro-text .text p:nth-child(3) {
    margin-top: 30px;
  }
}
#intro .intro-text .img {
  position: absolute;
  top: -11.1111111111vw;
  right: 4.1666666667vw;
  width: 22.2222222222vw;
  height: 22.2222222222vw;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  background-color: #fff;
}
@media screen and (min-width: 720px) {
  #intro .intro-text .img {
    top: -80px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-text .img {
    right: 30px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-text .img {
    width: 160px;
  }
}
@media screen and (min-width: 720px) {
  #intro .intro-text .img {
    height: 160px;
  }
}
@media (max-height: 500px) {
  #intro .intro-text .img {
    display: none;
  }
}
@media (min-width: 1024px) {
  #intro .intro-text .img {
    top: -150px;
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1100px) {
  #intro .intro-text .img {
    position: static;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
  }
}
#intro .intro-text .img > img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  #intro .intro-text .img > img {
    height: auto;
  }
}

#spec .spec-inner {
  display: flex;
  justify-content: space-between;
  padding: 5.5555555556vw 2.2222222222vw;
}
@media screen and (min-width: 720px) {
  #spec .spec-inner {
    padding: 40px 16px;
  }
}
@media (max-width: 800px) {
  #spec .spec-inner {
    flex-direction: column;
  }
}
#spec .spec-title {
  position: -webkit-sticky;
  position: sticky;
  top: 9.7222222222vw;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  padding-top: 5.5555555556vw;
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 8.3333333333vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  border-bottom-width: 0.5555555556vw;
  border-bottom-style: solid;
  border-bottom-color: #000;
  background-color: var(--mainBg-color);
}
@media screen and (min-width: 720px) {
  #spec .spec-title {
    top: 70px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-title {
    padding-top: 40px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-title {
    font-size: 60px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-title {
    border-bottom-width: 4px;
  }
}
@media (min-width: 720px) {
  #spec .spec-title {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  #spec .spec-title {
    width: 43%;
    height: 90px;
    font-size: 70px;
  }
}
#spec .spec-title em {
  line-height: 2;
  font-size: 4.1666666667vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #spec .spec-title em {
    font-size: 30px;
  }
}
#spec .spec-desc {
  width: 100%;
  margin-top: 5.5555555556vw;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc {
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  #spec .spec-desc {
    width: 55%;
  }
}
#spec .spec-desc > div {
  margin-bottom: 6.9444444444vw;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc > div {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  #spec .spec-desc > div {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  #spec .spec-desc > div:first-child {
    margin-top: 24px;
  }
}
@media (min-width: 1100px) {
  #spec .spec-desc > div:first-child {
    margin-top: 50px;
  }
}
#spec .spec-desc .spec-view {
  position: relative;
}
#spec .spec-desc .spec-view h3 {
  display: inline-block;
  font-family: var(--mainKor-font);
  font-size: 4.1666666667vw;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-view h3 {
    font-size: 30px;
  }
}
@media (min-width: 720px) {
  #spec .spec-desc .spec-view h3 {
    font-size: 28px;
  }
}
#spec .spec-desc .spec-view p {
  line-height: 1;
  font-family: var(--mainNum-font);
  font-size: 3.3333333333vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-view p {
    font-size: 24px;
  }
}
@media (min-width: 720px) {
  #spec .spec-desc .spec-view p {
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  #spec .spec-desc .spec-view p {
    display: inline-block;
    margin-left: 10px;
  }
}
#spec .spec-desc .spec-view p span {
  margin: 0 0.6944444444vw;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-view p span {
    margin: 0 5px;
  }
}
#spec .spec-desc .spec-view p span:first-child {
  margin-left: 0;
}
#spec .spec-desc .spec-list {
  margin-top: 1.3888888889vw;
  padding: 2.7777777778vw;
  background-color: rgba(0, 109, 119, 0.2);
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list {
    padding: 20px;
  }
}
#spec .spec-desc .spec-list li {
  position: relative;
  margin-top: 0.6944444444vw;
  padding-left: 1.3888888889vw;
  font-family: var(--mainKor-font);
  font-size: 2.7777777778vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list li {
    margin-top: 5px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list li {
    padding-left: 10px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list li {
    font-size: 20px;
  }
}
@media (min-width: 720px) {
  #spec .spec-desc .spec-list li {
    font-size: 18px;
  }
}
#spec .spec-desc .spec-list li:first-child {
  margin-top: 0;
}
#spec .spec-desc .spec-list li::before {
  content: "";
  position: absolute;
  top: 1.3888888889vw;
  left: 0;
  width: 0.5555555556vw;
  height: 0.5555555556vw;
  border-radius: 50%;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list li::before {
    top: 10px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list li::before {
    width: 4px;
  }
}
@media screen and (min-width: 720px) {
  #spec .spec-desc .spec-list li::before {
    height: 4px;
  }
}

#career .career-inner {
  padding: 5.5555555556vw 2.2222222222vw;
}
@media screen and (min-width: 720px) {
  #career .career-inner {
    padding: 40px 16px;
  }
}
#career .career-title {
  position: -webkit-sticky;
  position: sticky;
  top: 13.8888888889vw;
  left: 0;
  width: 100%;
  height: auto;
  margin-bottom: 5.5555555556vw;
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 8.3333333333vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  border-bottom-width: 0.5555555556vw;
  border-bottom-style: solid;
  border-bottom-color: #000;
}
@media screen and (min-width: 720px) {
  #career .career-title {
    top: 100px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-title {
    font-size: 60px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-title {
    border-bottom-width: 4px;
  }
}
@media (min-width: 720px) {
  #career .career-title {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  #career .career-title {
    width: 43%;
    height: 90px;
    font-size: 70px;
  }
}
#career .career-title em {
  line-height: 2;
  font-size: 4.1666666667vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #career .career-title em {
    font-size: 30px;
  }
}
#career .career-item {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
@media (min-width: 1100px) {
  #career .career-item {
    flex-direction: inherit;
    justify-content: space-around;
  }
}
#career .career-item.c1 {
  top: 140px;
  background-color: var(--subBg100);
}
@media (min-width: 720px) {
  #career .career-item.c1 {
    top: 180px;
  }
}
#career .career-item.c2 {
  top: 160px;
  background-color: var(--subBg200);
}
@media (min-width: 720px) {
  #career .career-item.c2 {
    top: 200px;
  }
}
#career .career-item.c3 {
  top: 180px;
  background-color: var(--subBg300);
}
@media (min-width: 720px) {
  #career .career-item.c3 {
    top: 220px;
  }
}
#career .career-item.c4 {
  top: 200px;
  background-color: var(--subBg400);
}
@media (min-width: 720px) {
  #career .career-item.c4 {
    top: 240px;
  }
}
#career .career-item .title {
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 4.1666666667vw;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  #career .career-item .title {
    font-size: 30px;
  }
}
#career .career-item .text {
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 3.0555555556vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  #career .career-item .text {
    font-size: 22px;
  }
}
@media (min-width: 720px) {
  #career .career-item .text {
    font-size: 30px;
  }
}
@media (min-width: 1100px) {
  #career .career-item .text {
    display: inline-block;
    margin-left: 10px;
  }
}
#career .career-item .text span {
  margin: 0 0.6944444444vw;
}
@media screen and (min-width: 720px) {
  #career .career-item .text span {
    margin: 0 5px;
  }
}
#career .career-item .text span:first-child {
  margin-left: 0;
}
#career .career-item .text span.period {
  font-family: var(--mainNum-font);
  font-weight: 400;
}
@media (min-width: 1100px) {
  #career .career-item .career-desc {
    width: 50%;
  }
}
#career .career-item .career-desc .career-list {
  margin-top: 1.3888888889vw;
  padding: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list {
    padding: 20px;
  }
}
#career .career-item .career-desc .career-list li {
  position: relative;
  margin-top: 0.6944444444vw;
  padding-left: 1.3888888889vw;
  font-family: var(--mainKor-font);
  font-size: 2.7777777778vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list li {
    margin-top: 5px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list li {
    padding-left: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list li {
    font-size: 20px;
  }
}
@media (min-width: 720px) {
  #career .career-item .career-desc .career-list li {
    font-size: 18px;
  }
}
#career .career-item .career-desc .career-list li:first-child {
  margin-top: 0;
}
#career .career-item .career-desc .career-list li::before {
  content: "";
  position: absolute;
  top: 1.3888888889vw;
  left: 0;
  width: 0.5555555556vw;
  height: 0.5555555556vw;
  border-radius: 50%;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list li::before {
    top: 10px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list li::before {
    width: 4px;
  }
}
@media screen and (min-width: 720px) {
  #career .career-item .career-desc .career-list li::before {
    height: 4px;
  }
}

#port {
  width: 100%;
  margin-top: 13.8888888889vw;
}
@media screen and (min-width: 720px) {
  #port {
    margin-top: 100px;
  }
}
#port .port-inner {
  padding: 2.2222222222vw;
}
@media screen and (min-width: 720px) {
  #port .port-inner {
    padding: 16px;
  }
}
#port .port-title {
  width: 100%;
  margin-bottom: 5.5555555556vw;
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 8.3333333333vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  border-bottom-width: 0.5555555556vw;
  border-bottom-style: solid;
  border-bottom-color: #000;
}
@media screen and (min-width: 720px) {
  #port .port-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-title {
    font-size: 60px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-title {
    border-bottom-width: 4px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  #port .port-title {
    height: 90px;
    font-size: 70px;
  }
}
#port .port-title em {
  line-height: 2;
  font-size: 4.1666666667vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #port .port-title em {
    font-size: 30px;
  }
}
#port .port-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 7000px;
}
#port .port-item {
  position: relative;
  width: 55.5555555556vw;
  height: 76.3888888889vw;
  margin-right: 2.7777777778vw;
  padding: 2.7777777778vw;
  color: #000;
  background-color: rgba(0, 109, 119, 0.7);
}
@media screen and (min-width: 720px) {
  #port .port-item {
    width: 400px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item {
    height: 550px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item {
    margin-right: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item {
    padding: 20px;
  }
}
#port .port-item:hover {
  color: #fff;
}
#port .port-item:hover .img {
  margin-top: 0;
}
#port .port-item:hover .img img {
  filter: saturate(100%);
}
#port .port-item:hover .site {
  background-color: #000;
}
#port .port-item .num {
  font-family: var(--mainNum-font);
  font-size: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  #port .port-item .num {
    font-size: 20px;
  }
}
#port .port-item .img {
  display: block;
  margin-bottom: 2.7777777778vw;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #port .port-item .img {
    margin-bottom: 20px;
  }
}
#port .port-item .img img {
  width: 100%;
  border-radius: 0.6944444444vw;
  filter: saturate(0%);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #port .port-item .img img {
    border-radius: 5px;
  }
}
#port .port-item .title {
  margin-bottom: 2.7777777778vw;
  padding-bottom: 1.3888888889vw;
  text-align: center;
  font-size: 2.7777777778vw;
  font-weight: 700;
  border-bottom-width: 0.2777777778vw;
  border-bottom-style: solid;
  border-bottom-color: currentColor;
}
@media screen and (min-width: 720px) {
  #port .port-item .title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .title {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .title {
    font-size: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .title {
    border-bottom-width: 2px;
  }
}
#port .port-item .desc {
  font-size: 2.5vw;
}
@media screen and (min-width: 720px) {
  #port .port-item .desc {
    font-size: 18px;
  }
}
#port .port-item .site {
  position: absolute;
  right: 2.7777777778vw;
  bottom: 2.7777777778vw;
  left: 2.7777777778vw;
  display: block;
  margin-top: 4.1666666667vw;
  padding: 1.3888888889vw 2.7777777778vw;
  text-align: center;
  border-width: 0.2777777778vw;
  border-style: solid;
  border-color: #000;
}
@media screen and (min-width: 720px) {
  #port .port-item .site {
    right: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .site {
    bottom: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .site {
    left: 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .site {
    margin-top: 30px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .site {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 720px) {
  #port .port-item .site {
    border-width: 2px;
  }
}

#contact {
  height: 50vh;
}
#contact .contact-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2.2222222222vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  #contact .contact-inner {
    padding: 16px;
  }
}
@media (max-width: 800px) {
  #contact .contact-inner {
    justify-content: center;
  }
}
#contact .contact-title {
  line-height: 1;
  font-family: var(--mainKor-font);
  font-size: 11.1111111111vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}
@media screen and (min-width: 720px) {
  #contact .contact-title {
    font-size: 80px;
  }
}
#contact .contact-title em {
  line-height: 2;
  font-size: 4.1666666667vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  #contact .contact-title em {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  #contact .contact-title em {
    display: block;
  }
}
#contact .contact-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 27.7777777778vw;
  color: #fff;
  background-color: rgba(0, 109, 119, 0.7);
}
@media screen and (min-width: 720px) {
  #contact .contact-text {
    height: 200px;
  }
}
#contact .contact-text .text {
  text-align: center;
}
#contact .contact-text .text div {
  display: inline-block;
  padding: 0 2.2222222222vw;
  line-height: 1;
  font-size: 6.9444444444vw;
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: all-scroll;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 720px) {
  #contact .contact-text .text div {
    padding: 0 16px;
  }
}
@media screen and (min-width: 720px) {
  #contact .contact-text .text div {
    font-size: 50px;
  }
}

#footer .footer-inner {
  padding: 6.9444444444vw;
}
@media screen and (min-width: 720px) {
  #footer .footer-inner {
    padding: 50px;
  }
}
#footer .footer-right {
  font-size: 4.1666666667vw;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 720px) {
  #footer .footer-right {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  #footer .footer-right {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */