:root {
	--mainEng-font: "Montserrat";
	--mainKor-font: "nanumSquareNeo";
	--mainNum-font: "gmarket";

	--mainBg-color: #83c5be;
	--subBg100: #15616d;
	--subBg200: #006d77;
	--subBg300: #0a9396;
	--subBg400: #94d2bd;
	--subBg500: #15616d;
	--subBg600: #006d77;

	--white: #fff;
	--black: #000;
	--black100: #111;
	--black200: #222;
	--black300: #333;
	--black400: #444;

	line-height: 1.5;
	font-family: var(--mainEng-font), var(--mainKor-font);
	font-size: 16px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: var(--mainBg-color);
}
