:root {
	--mainEng-font: "roboto";
	--mainKor-font: "Noto Sans KR", sans-serif;
	--mainNum-font: "roboto";

	--main-color: #0f172a;
	--sub-color: #e2e8f0;
	--subBg200: #006d77;
	--subBg300: #0a9396;
	--subBg400: #94d2bd;
	--subBg500: #15616d;
	--subBg600: #006d77;

	--white: #fff;
	--black: #000;
	--black100: #111;
	--black200: #222;
	--black300: #333;
	--black400: #444;

	line-height: 1.5;
	font-family: var(--mainKor-font);
	font-size: 16px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: var(--main-color);
}
